body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
    color: #252837;
}

.navbar-container{
    display: flex;
    flex-wrap: wrap;
}
.navbar-container a{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    top: 6px;
    position: relative;
    float: left;
    transition: .3s all ease;
    text-decoration: none;
}
.navbar-options{
    text-align: center !important;
    margin-left: 15%;
}
.child-dropdown a{
    padding: 5px 20px;
    display: block;
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
    transition: 0s all;
    color: #000;
}
.child-dropdown{
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}
.navbar-list{
    /* display: inline-block; */
    box-sizing: border-box !important;
    display: flex;

}
.navbar-list li{
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
}
.child-dropdown{
    /* visibility: hidden; */
    opacity: 0;
    top: 100%;
    z-index: 999;
    position: absolute;
    text-align: left;
    box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
    padding: 20px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    transition: 0.2s 0s;
}
.navbar-list a:hover{
    color: #ec1e64;
}
.navbar-list a{
    font-size:13px;
}
.icon a{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    top: 6px;
    position: relative;
  
}
.icon{
    margin-left:5%;
    margin-top:1.5%;
}
.contact a{
    float:right;
    margin-right:1%;
}